.bottom-padding10 {
  padding-bottom: 10px;
}
.table-details {
  margin: 0;
  table-layout: fixed;
}
.table-details > tbody th {
  color: #7b7b7b;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 10px 3px 0;
  position: relative;
  text-align: left;
  width: 40%; }

.table-details > tbody td {
  background: none !important;
  color: #a3a3a3;
  font-size: 12px;
  padding: 3px 10px 3px 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}

.st-sort-ascent:after{
  content: '\25B2';

}

.st-sort-descent:before{
  content: '\25BC';
}

